[submodule "library/ansible-aur"]
	path = library/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "library/ansible-yay"]
	path = library/ansible-yay
	url = https://github.com/mnussbaum/ansible-yay.git
[submodule "cue.mod/pkg/github.com/adieu/cue-ansible"]
	path = cue.mod/pkg/github.com/adieu/cue-ansible
	url = https://github.com/adieu/cue-ansible.git
